/* -------------common css start------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');




* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}



img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

:root {
  --textColor: #42454A;
  --fantFamily: "Ubuntu", sans-serif;

}

.commonHead h2 {
  max-width: 487px;
  font-size: 50px;
  font-weight: 700;
  color: var(--textColor);
  font-family: var(--fantFamily);
  margin: 0 auto;
}

.update p {
  padding-top: 34px;
}

.commonHead p {
  max-width: 598px;
  font-size: 20px;
  font-weight: 400;
  color: var(--textColor);
  font-family: var(--fantFamily);
  margin: 0 auto;
}

.commonHead {
  text-align: center;
}


/* -------------common css end------------------------- */

/* -------------nav bar css start------------------------- */
.mainNav {
  padding-top: 27px;
  padding-bottom: 25px;
  border-bottom: 1px solid #EAE8F3;
}

.mainNav img {
  width: 70px;
}

.mainNav ul {
  gap: 77px;
}

.mainNav ul li a {
  font-size: 14px;
  font-weight: 400;
  color: var(--textColor);
  font-family: var(--fantFamily);
}

.buttons a:nth-child(1) {
  width: 102px;
  height: 48px;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  color: var(--textColor);
  font-family: var(--fantFamily);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  padding: 16px 26px;
  transition: all linear 0.4s;
}

.buttons a:hover:nth-child(1) {
  color: #FFF;
  background: var(--textColor);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.buttons a:nth-child(2) {
  width: 106px;
  height: 48px;
  background: var(--textColor);
  font-size: 14px;
  font-weight: 400;
  color: #FFF;
  font-family: var(--fantFamily);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 16px 26px;
  margin-left: 25px;
  transition: all linear 0.4s;
}


.buttons a:hover:nth-child(2) {
  color: var(--textColor);
  background: #FFF;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;


}

/* -------------nav bar css end------------------------- */

/* -------------Banneer part css start------------------------- */
#banner {
  margin-top: 31px;
  position: relative;
}


.bannerTextPart h2 {
  font-size: 90px;
  font-weight: 300;
  color: var(--textColor);
  font-family: var(--fantFamily);
  text-transform: uppercase;
  line-height: 95px;
  letter-spacing: 1%;
  padding-top: 53px;
}


h1 {
  max-width: 586px;
  font-size: 90px;
  font-weight: 700;
  color: var(--textColor);
  font-family: var(--fantFamily);
  text-transform: uppercase;
  line-height: 95px;
  letter-spacing: 1%;
  color: var(--textColor);
  background: var(--textColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: type 2s steps(90) 1s 1 normal both, cursor 1s step-end infinite;
  position: relative;
}

@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}


.underLine {
  max-width: 335px;
  height: 4px;
  background: var(--textColor);
  margin-top: 93px;
}

.bannerTextPart h3 {
  max-width: 353px;
  font-size: 22px;
  font-weight: 400;
  color: var(--textColor);
  font-family: var(--fantFamily);
  line-height: 34px;
  letter-spacing: 1%;
  padding-top: 62px;
  padding-bottom: 44px;
}

.bothText {
  display: flex;
  gap: 50px;
  margin-bottom: 160px;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid var(--textColor);
  /* border-color: transparent; */
  font-size: 20px;
  font-weight: 500;
  background-color: #FFF;
  font-family: var(--fantFamily);
  border-radius: 100px;
  color: #1f387e;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #1f387e;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--textColor);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #FFF;
  background: var(--textColor);
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #FFF;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.bothText .text p {
  width: 87px;
  height: 75px;
  font-size: 18px;
  font-weight: 500;
  color: var(--textColor);
  font-family: var(--fantFamily);
  line-height: 25px;
}

.buyNowImg {
  position: relative;

}

.buyNowImg img {
  max-width: 80px;
  height: 80px;
  animation: round 4s linear infinite;
}

@keyframes round {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}


.buyNowImg button {
  background: transparent;
  border: none;
  font-size: 12px;
  position: absolute;
  top: 33px;
  left: 45%;
  z-index: 1;
}

.BannerImages {
  max-width: 856px;
  position: absolute;
  top: 0;
  right: 0;

}


/* -------------Banneer part css end------------------------- */




/* -------------counterPlugin css start------------------------- */


#counterPlugin {
  margin-top: 157px;
}

.counterPartone {
  width: 174px;
  height: 137px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  /* border: 1px solid #F4F4F4; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  justify-content: center;
  align-items: center;

}

.counterPartone h2 span {
  font-size: 40px;
  font-weight: 700;
  color: var(--textColor);
  font-family: var(--fantFamily);
}

.counterPartone h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--textColor);
  font-family: var(--fantFamily);
}

.counterPartone p {
  font-size: 13px;
  font-weight: 400;
  color: var(--textColor);
  font-family: var(--fantFamily);
  margin-top: 18px;
}

.allCounter {
  display: flex;
  justify-content: space-between;
}

.xCustomised {
  width: 174px;
  height: 137px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  /* border: 1px solid #F4F4F4; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  justify-content: center;
  align-items: center;
}

.xCustomised h2 {
  display: flex;
}

.xCustomised h2 p {
  font-size: 40px;
  font-weight: 700;
  color: var(--textColor);
  font-family: var(--fantFamily);
  margin-bottom: 18px;
}








/* -------------counterPlugin css end------------------------- */

/* ------------- Product css start------------------------- */
#Product {
  margin-top: 130px;
}


.productImagesText {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 44px;
}

.productImagesText img {
  width: 49px;
  height: 49px;
}

.productImagesText p {
  font-size: 20px;
  font-weight: 400;
  color: var(--textColor);
  font-family: var(--fantFamily);
}

.imgTextBoth {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 143px;
  position: relative;
}

.productImges {
  min-width: 748px;
  height: 706px;
  position: absolute;
  top: 0;
  left: 0;
}

/* ------------- Product css end------------------------- */

/* -------------effeciency css start------------------------- */
#Efficiency {
  margin-top: 126px;
}

.updateOne h2 {
  max-width: 520px;
}

.updateOne p {
  max-width: 684px;
  padding-top: 34px;
  padding-bottom: 49px;
}

/* -------------effeciency css end------------------------- */

/* -------------Accessories css start-------------------- */
#Accessories {
  padding-top: 315px;
}

.updateTwo h2 {
  max-width: 495px;
}

.updateTwo p {
  max-width: 595px;
  padding-top: 34px;
  margin-bottom: 112px;
}

.multipleText h2 {
  max-width: 334px;
  font-size: 50px;
  font-weight: 700;
  color: var(--textColor);
  font-family: var(--fantFamily);
  margin-bottom: 33px;
}

.IagesText img {
  width: 49px;
  height: 49px;
}

.IagesText p {
  font-size: 20px;
  font-weight: 400;
  color: var(--textColor);
  font-family: var(--fantFamily);
}

.IagesText {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 33px;
}

.multipleTextUpdate h2 {
  max-width: 349px;
}

.accessoriesTextparttwo {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  position: relative;
  padding-bottom: 44px;
}

.accessoriesTextpart {
  padding-top: 112px;
}

.accessoriesTextpartImges {
  max-width: 779px;
  height: 427px;
  position: absolute;
  top: 0;
  left: 0;
}

.accessoriesCommingSoon {
  max-width: 570px;
  height: 94px;
  border: 2px solid var(--textColor);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.accessoriesCommingSoon a {
  max-width: 444px;
  font-size: 30px;
  font-weight: 700;
  color: var(--textColor);
  font-family: var(--fantFamily);

}

/* -------------Accessories css end------------------- */

/* -------------galary css start------------------------- */

#Gallery {
  padding-top: 127px;
  padding-bottom: 128px;
}


.updateThree h2 {
  max-width: 174px;
}

.updateThree p {
  max-width: 675px;
  padding-top: 30px;
}

.buttonGalary {
  max-width: 570px;
  height: 94px;
  border: 2px solid var(--textColor);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.buttonGalary a {
  font-size: 30px;
  font-weight: 700;
  color: var(--textColor);
  font-family: var(--fantFamily);

}

.scooterImg {
  padding-top: 300px;
  padding-bottom: 55px;
}

.galaryTextImg .buttonGalary {
  margin-top: 27px;
}

.qualityPicture {
  padding-top: 112px;
  padding-bottom: 96px;
}

/* ------------ css end------------------------- */

/* ------------ css Colors start------------------------- */
#Colors {
  padding-top: 207px;

}

.updateFour h2 {
  max-width: 233px;
  padding-bottom: 19px;
}


.bannerImg {
  background-image: url(../images/colorbanner.png);
  height: 767px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.colorBannerImges {
  position: relative;
}

.updateFour p {
  max-width: 334px;
  margin-bottom: 152px;
}

.colorAllimages {
  width: 246px;
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 88px;
  position: absolute;
  bottom: -132px;
  left: 50%;
  transform: translate(-50%);
}





/* ------------ css Colors end------------------------- */

/* -------------Testimonials css start------------------------- */
#Testimonials {
  background: #FAFAFA;
  height: 712px;
  margin-top: 366px;
}




.updateFive {
  padding-top: 78px;
  padding-bottom: 41px;

}


.single_slider_items {
  max-width: 360px;
  height: 366px;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  padding: 52 px 22px 51px 40px;
  transition: all linear 0.4s;
  margin-right: 36px;
}

.single_slider_items:hover {
  background: #FFF;
  border: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.single_slider_items ul {
  display: flex;
  justify-content: center;
  gap: 2px;
  font-size: 18px;
  color: #FE8B75 !important;
  padding-top: 52px;
  padding-left: 0;
}


.single_slider_items p {
  width: 304px;
  height: 140px;
  font-size: 20px;
  font-weight: 400;
  color: var(--textColor);
  font-family: var(--fantFamily);
  margin: 0 auto;
  

}

.sliderimagesText .img {
  width: 48px;
  height: 48px;
}

.sliderimagesText .text h2 {
  font-size: 16px;
  font-weight: 400;
  color: var(--textColor);
  font-family: var(--fantFamily);
  width: fit-content;

}

.sliderimagesText .text p {
  font-size: 14px;
  font-weight: 400;
  color: var(--textColor);
  font-family: var(--fantFamily);
  width: fit-content;
}


.sliderimagesText {
  display: flex;
  gap: 20px;
 width: fit-content;
 margin: 0 auto;
 padding-top: 47px;
}


/* .testimonialtext {
  display: flex;
  gap: 36px;
} */


/* -------------Testimonials css end------------------------- */




/* ------------subscribe css start------------------------- */

#Subscribe {
  padding-top: 366px;
  padding-bottom: 127px;
}

.updateFive h2 {
  max-width: 584px;
}

.updateFive p {
  padding-top: 11px;
  padding-bottom: 59px;
}

.emailboth {
  max-width: 616px;
  height: 81px;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}


.emailboth input {
  width: 400px !important;
  height: 81px;
  background: #F5F5F5;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: var(--textColor);
  font-family: var(--fantFamily);
  border-radius: 10px;
  padding-left: 38px;
}




.emailboth a {
  width: 196px;
  background: var(--textColor);
  font-size: 20px;
  font-weight: 400;
  color: #FFF !important;
  font-family: var(--fantFamily);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------subscribe css end------------------------- */

/* ------------footer css start------------------------- */

#footer {
  background: var(--textColor);
  height: 499px;
  position: relative;
}

.aboutText {
  width: 99px;
  height: 258px;
  padding-top: 99px;
}

.aboutText h2 {
  font-size: 22px;
  font-weight: 700;
  color: #FBFBFB;
  font-family: var(--fantFamily);
  padding-bottom: 54px;
}

.aboutText p {

  font-size: 16px;
  font-weight: 400;
  color: #FBFBFB;
  font-family: var(--fantFamily);
  padding-bottom: 25px;
}


.footertextPartAll {
  display: flex;
  gap: 102px;
  justify-content: end;
  padding-right: 116px;
}

.Resources {
  width: 107px;
  height: 222px;
  padding-top: 99px;
}

.Resources h2 {
  font-size: 22px;
  font-weight: 700;
  color: #FBFBFB;
  font-family: var(--fantFamily);
  padding-bottom: 54px;
}


.Resources p {
  font-size: 16px;
  font-weight: 400;
  color: #FBFBFB;
  font-family: var(--fantFamily);
  padding-bottom: 25px;
}


.Legals {
  width: 135px;
  height: 250px;
  padding-top: 99px;

}

.Legals h2 {
  font-size: 22px;
  font-weight: 700;
  color: #FBFBFB;
  font-family: var(--fantFamily);
  padding-bottom: 54px;
}

.Legals p {
  font-size: 16px;
  font-weight: 400;
  color: #FBFBFB;
  font-family: var(--fantFamily);
  padding-bottom: 25px;
}


.legalButton {
  display: flex;
  gap: 20px;
  color: #FBFBFB;
  font-size: 24px;
}

.footerimage {
  max-width: 729px;
  height: 551px;
  position: absolute;
  top: -90px;
  left: 0;
}


















/* ------------footer css end------------------------- */
























/* ------------- css end------------------------- */